#root {
    display: flex;
    justify-content: center;
}

.editorWrap {
    width: 800px;
    height: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.editableWrap {
    width: 100%;
    height: 300px;
    padding: 20px;
    border: 1px solid grey;
    borderTop: none;
    boxSizing: border-box
}

.toolbarWrap {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    alignItems: center;
    margin: 0 auto;
    marginTop: 50px;
    border: 1px solid grey;
    boxSizing: border-box
}

.toolbarWrap button {
    margin-right: 20px;
    cursor: pointer;
}
